$background-color:#e0f6fc;
$text-color:#ffffff;
$content-background-color: #383838;
$text-line-height:18px;
$main-yellow-color:#f9cd1a;
$h-color:$main-yellow-color;
$img-border-color:#f9cd1a;
$img-right-margin: 10px 0 4px 15px;
$brief-background-color:#fef07b;
$brief-text-color:#000000;
$brief-float: none;
$brief-height: 20px;
$brief-width: 930px;
$brief-margin: 0 0 35px 0;
$brief-padding: 15px;
$link-color: $main-yellow-color;
$table-background-color: #667d09;
$th-background-color: #94a34e;
$th-text-color: #000000;
$tr-bottom-color: #DCDCDC;
$form-color: $main-yellow-color;
$submit-border-color: $main-yellow-color;
$submit-text-color: $main-yellow-color;
$submit-background-color:inherit;
$input-color:#808080;
$input-margin:3px 3px 3px 0;