$background-color:#dcbc9b;
$text-color:#000000;
$content-background-color:#ffffff;
$text-line-height: 18px;
$h-color:#A0522D;
$img-border-color:#8B4513;
$img-right-margin:0 0 4px 15px;
$brief-text-color:#000000;
$brief-background-color:  #f9dcbb;
$brief-float: left;
$brief-height: 65px;
$brief-width: 390px;
$brief-margin:0 20px 10px 0;
$brief-padding: 15px;
$link-color: #87CEFA;
$table-background-color: inherit;
$th-text-color: inherit;
$th-background-color:#D3D3D3;
$tr-bottom-color:#DCDCDC;
$form-color:#808080;
$submit-blue-color:#4682B4;
$submit-border-color:$submit-blue-color;
$submit-text-color:$submit-blue-color;
$submit-background-color:#FFFFFF;
$input-color:#808080;
$input-margin:3px 3px 3px 0;